body{
	font-family: 'Special Elite', cursive;
	font-size: 14px;
}

nav.navbar {
    margin-bottom: 0;
}

/*.footer a:hover, .footer a:visited, .footer a:link, .footer a:active{
	text-decoration: none;
}*/

a:hover, a:visited, a:link, a:active{
	text-decoration: none;
}

a {
	text-decoration: none;
}

a:hover h4, a:visited h4, a:active h4{
	text-decoration: underline;
}

.navbar-default{
	background: none;
	border: none;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
}

.navbar-w-image{
	background: url(/images/top_bar.png) no-repeat center top;
    background-size: cover;
    background-position: bottom;
    z-index: 80;
    height: 60px;
}

.navbar-brand{
	height: 70px;
	opacity: 0;
	transition: opacity 2s;
}

.visible-small-logo{
	opacity: 1;
}

.logo-area {
	background: burlywood;
	background: url("/images/halfscreen_paper.jpg") no-repeat center top;
	background-size: cover;
	background-position: bottom;
	height: 50vh;
	margin-bottom: 0;
	z-index: 90;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
}

.hidden-logo-area{
	background: none;
}

.logo{
	max-height: 80%;
    max-width: 90%;
  }

.navbar-logo{
	height: 90%;
}

.jumbotron {
	background: url("/images/unlocking.jpg") no-repeat center top;
	background-size: cover;
	height: 100vh;
	margin-bottom: 0;

}

.embed-responsive-16by9 {
    padding-bottom: 56.25%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.image-blurb{
	text-align: center;
	padding-top: 4rem;
}

.info-area{
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.section-heading{
	padding-top: 5rem;
	text-align: center;
}

.team-section{
	width: 100%;
	padding-top: 2rem;
}

.subscribe-section{
	width: 100%;
	background-color: #000000;
    color: white;
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}

.wide-page{
	max-width: 130rem;
	margin: auto;
}

.narrow-page{
	max-width: 100rem;
	margin: auto;
	margin-top: 8rem;
}

.footer {
	background: burlywood;
	background: url("/images/paper_footer.png") no-repeat center bottom;
	background-size: cover;
	background-position: top;
	height: 25vh;
	position: relative;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: -15px;
}

.footer-content{
	min-width: 60%;
	max-width: 80rem;
	margin-top: 3rem;
	/*height: 5vh;*/
	/*padding-bottom: 1rem;*/
}

.footer-cell{
	/*height: 100%;*/
	text-align: center;
}

.footer p {
	white-space: nowrap;
}

.image-link:hover img, .image-link:hover p, .image-link:hover h4{
	opacity: 0.5;
}


.footer-icon{
	/*width: auto;*/
	max-height: 7vh;
	/*max-width: 30vw;*/
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid black;
    color: black;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: burlywood;
    border-color: black;
    background-color: black;
}

.row {
	margin-right: 0;
	margin-left: 0;
}

.footer-cell p{
	margin-top: 1rem;
	color: black;
	font-size: 12px;
}

.teammate-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.teammate {
	width: 33%;
    text-align: center;
    	padding-left: .3rem;
	padding-right: .3rem;
}

.teammate h4 {
	font-size: 1.3rem;
	margin-bottom: .1rem;
	color: black;
}

.teammate p {
	/*display: none;*/
	font-size: 1rem;
	color: black;
}

.teammate-img {

}

/*.teammate-link{

}
*/
@media(min-width: 25rem){
	.teammate {
		width: 25%;
		padding-left: .3rem;
		padding-right: .3rem;
	}
	/*.teammate-img {
		padding-left: .3rem;
		padding-right: .3rem;
	}*/

	.teammate h4 {
		font-size: 1.5rem;
	}

	.teammate p {
		font-size: 1.1rem;
	}
}

@media(min-width: 40rem){
	.teammate {
		width: 16.5%;
	}
	.teammate-img {
		padding-left: .5rem;
		padding-right: .5rem;
	}

	.teammate h4 {
		font-size: 1.5rem;
	}

	.teammate p {
		font-size: 1.2rem;
	}
}

@media(min-width: 70rem){
	.teammate {
		padding-left: .5rem;
    	padding-right: .5rem;
	}

	.teammate-img {
		padding-left: 3rem;
		padding-right: 3rem;
	}

	.teammate h4 {
		font-size: 2rem;
	}

	.teammate p {
		font-size: 1.5rem;
	}
}

@media(min-width: 60rem){
	.footer {
		height: 30vh;
	}

	.footer-icon{
		/*width: auto;*/
		max-height: 10vh;
		/*max-width: 30vw;*/
	}

	.footer-cell p{
		font-size: 14px;
	}
}





