- var google_analytics_id = 'UA-63645432-1'

- var title = "Tracking Ida"
// - var tagline = "alternate reality history game"
- var platforms = [ "Physical Installation", "Web" ]
- var release_date = undefined
- var developer = "Lishan AZ"
- var location = "Los Angeles, CA"
- var website = "http://trackingida.com/"
- var twitter = "trackingida"
- var contact = "trackingida@gmail.com"
- var prices = []

- var request_review_copy = false

- var images_root = "/images/presskit/images/"
- var images_thumbs_root = "/images/presskit/image_thumbs/"
- var branding_root = "/images/presskit/branding/"
- var branding_thumbs_root = "/images/presskit/branding_thumbs/"
- var images_zip = "/images/presskit/images.zip"
- var images_zip_size = "4 MB"
- var branding_zip = "/images/presskit/branding.zip"
- var branding_zip_size = "4 MB"


- var images_name = "Pictures"
- var branding_name = "Icons and Logos"

-
  var images = [ "TrackingIdaUnlocking.jpg"
               , "TrackingIdaDiscussing.jpg"
               , "TrackingIdaPuzzle.jpg"
               , "TrackingIdaCollaboration.jpg"
               , "TrackingIdaPuzzleHands.jpg"
               ]

-
  var branding = [ "TrackingIdaBanner.jpg"
                 , "TrackingIdaPoster.jpg"
                 , "TrackingIdaLogo.png"
                 , "TrackingIdaSquare.jpg"
                 ]

-
  var videos = [ { name: "Trailer", vimeo: "218403978" }
               ]

-
  var credits = [
    { name: "Lishan AZ"
    , role: "Lead & Creative Director"
    , website: "http://itslishan.com/" }
  , { name: "Jasmin Young"
    , role: "Historical Consultant & Writer"}
  , { name: "Marton Robinson"
    , role: "Art Director"}
  , { name: "Funkster Scerbak"
    , role: "Artist & Game Designer"
    , website: "https://heyfunkster.com" }
  , { name: "Yiwen Dai"
    , role: "Artist & Game Designer"
    , website: "http://yiwen-dai.com" }
  , { name: "Amy Huang"
    , role: "Artist & Game Designer"
    , website: "http://pistachioegg.com" }
  , { name: "Tonia Beglari"
    , role: "Producer"
    , website: "http://toniab.com/" }
  , { name: "Allison Comrie"
    , role: "Producer"}
  , { name: "Emilia Yang"
    , role: "Producer & Game Designer"
    , website: "https://emiliayang.org/" }
  , { name: "Gabriela Purri R. Gomes"
    , role: "UX Researcher"
    , website: "http://www.aboutgabi.com" }
  , { name: "Morgan Collins"
    , role: "Writer"
    , website: "http://macthinks.com" }

  ]

-
  var appearances = [
    { event: "IndieCade ShowCase @ E3"
    , website: "http://www.indiecade.com/games/selected/tracking-ida"
    }
  ]


// -
//   var mentions = [
//     { quote: "&hellip;a simple, amazing grappling-battle mechanic"
//     , source: "Sam Machkovech &amp; Kyle Orland, Ars Technica"
//     , website: "http://arstechnica.com/gaming/2015/06/dog-butts-pooping-and-a-consent-simulator-indie-games-get-weird-at-e3/" }
//   , { quote: "&hellip;[one] of the more notable indie games [at E3]"
//     , source: "Ozzie Mejia, shacknews.com"
//     , website: "http://www.shacknews.com/article/90181/e3-2015-the-best-of-the-indies" }
//   ]

-
  function valuesOrComingSoon(values) {
    values = Array.isArray(values)? values : (values? [values] : [])
    return values.length > 0? values : "Coming Soon";
  }

mixin description()
  :marked
    ## Description
    Tracking Ida is an educational alternate reality game (ARG) inspired by the pioneering investigative journalism of Ida B. Wells in the 1890s. Players uncover Ida B. Wells’ crusade against lynching and use her strategies to investigate police and vigilante killings today. Along the way, they solve puzzles, decode messages through a phonograph, role-play as investigative journalists, interview members of their community, and harness social media to spread awareness.

    Players explore a trunk sent by Ida B. Wells. The trunk contains the salvaged evidence of Wells’ investigation into Memphis lynchings--what she managed to preserve after her newspaper office was burned down by a lynch mob in 1892. To keep these documents out of her persecutors’ hands, Wells secured them in locked compartments. Players solve puzzles to unlock each compartment in the trunk as they search for the map to her investigative tactics. 

//- mixin features()
//-   :marked
//-     ## Features
//-     - 2-6 player local multiplayer
//-     - 2-finger any-button gameplay
//-     - dynamic music and sound effects
//-     - procedurally generated levels

mixin artistStatement()
  :marked
    ## Artist Statement
    There are no surviving copies of the Memphis Free Speech, Ida B. Wells’ first newspaper. When a lynch mob came to silence her in 1892 and found no body to burn, they burned down her newspaper office instead. Though they failed to kill her, the mob succeeded in erasing the important work she was doing in Memphis. Tracking Ida is in part about reclaiming history destroyed. Whenever possible, we used newspaper articles from the time period--articles that were important to Wells’ investigations. What we couldn’t find, we reconstructed using a combination of primary documents and secondary sources.

    The subject of history is typically associated with boring textbooks and sleep-inducing lectures. With Tracking Ida, we aim not only to spark interest in stories of Black resistance, but to create personal connection to these stories by making history come alive. We made the game hands-on: players get to touch historical artifacts, type on a typewriter, listen to Ida B. Wells’ voice through a phonograph, and interact with a personal narrative. We immerse players in a story that connects the past to the present and is relevant to everyday life in their neighborhood.

    We aim to give players a taste of activism in a structured environment with the hope that they might one day get involved in their communities outside of the game. Players apply Ida B. Wells’ strategies to today by interviewing community members about a recent police killing. We prompt players to interact with local activists, giving them a tangible avenue into community engagement in the future.

    With Tracking Ida, we aim to spark interest in Black resistance in the past, present, and future.

doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')

    // Always force latest IE rendering engine or request Chrome Frame
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')

    meta(name='viewport', content='width=device-width, initial-scale=1')

    //- Favicons
    link(rel='apple-touch-icon', sizes='57x57', href='/apple-touch-icon-57x57.png')
    link(rel='apple-touch-icon', sizes='60x60', href='/apple-touch-icon-60x60.png')
    link(rel='apple-touch-icon', sizes='72x72', href='/apple-touch-icon-72x72.png')
    link(rel='apple-touch-icon', sizes='76x76', href='/apple-touch-icon-76x76.png')
    link(rel='apple-touch-icon', sizes='114x114', href='/apple-touch-icon-114x114.png')
    link(rel='apple-touch-icon', sizes='120x120', href='/apple-touch-icon-120x120.png')
    link(rel='apple-touch-icon', sizes='144x144', href='/apple-touch-icon-144x144.png')
    link(rel='apple-touch-icon', sizes='152x152', href='/apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon', sizes='180x180', href='/apple-touch-icon-180x180.png')
    link(rel='icon', type='image/png', href='/favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='/favicon-194x194.png', sizes='194x194')
    link(rel='icon', type='image/png', href='/favicon-96x96.png', sizes='96x96')
    link(rel='icon', type='image/png', href='/android-chrome-192x192.png', sizes='192x192')
    link(rel='icon', type='image/png', href='/favicon-16x16.png', sizes='16x16')
    link(rel='manifest', href='/manifest.json')
    meta(name='msapplication-TileColor', content='#da532c')
    meta(name='msapplication-TileImage', content='/mstile-144x144.png')
    meta(name='theme-color', content='#000000')
    //- End Favicons

    block title
      title #{title}

    block description
      meta(name='description', content='Tetheron puts 2-6 players in control of hurtling neon wrecking balls grappling and swinging to survive a centripetal battle-royale. One-button controls make it easy to learn but hard to master.')

    block social
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='@tetheron')
      meta(name='twitter:title', content='Tetheron')
      meta(name='twitter:description', content="Tetheron puts 2-6 players in control of hurtling neon wrecking balls grappling and swinging to survive a centripetal battle-royale. One-button controls make it easy to learn but hard to master.")
      meta(name='twitter:image', content='http://tetheron.com/images/TetheronTwitterCard.png')

      meta(name='og:site_name', content='Tetheron')
      meta(name='og:url', content='http://tetheron.com/')
      meta(name='og:image', content='http://tetheron.com/images/TetheronOpenGraph.png')
      meta(name='og:title', content='Tetheron')

    block fonts

    block stylesheets
      link(href='css/presskit.css', rel='stylesheet', type='text/css')

  body
    block content

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', '#{google_analytics_id}', 'auto');
      ga('send', 'pageview');